* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 60vw;
    height: 80vh;

    z-index: -1;
    border: 2px solid black;
    margin: auto;
    background: url(background.png) no-repeat center center/cover;

    a {
        text-decoration: none;
        color: rgb(227, 179, 89);
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    a:hover {
        color: yellow;
    }

    .tryAgain {
        display: block;
        font-size: 70px;
        position: relative;
        top: 110px;
        left: 520px;
        transform: rotate(-13deg);

    }

    .store {
        display: block;
        font-size: 40px;
        position: relative;
        top: 190px;
        left: 600px;
        transform: rotate(-15deg);
    }
}