* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  margin-top: 2%;
  width: 50%;
  height: 85vh;
  background: url("https://assets.funnygames.org/3/303/53097/672x448/gold-miner.webp");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;

  &__details {
    position: absolute;
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    flex-direction: column;
    left: 15px;
    gap: 10px;
    bottom: 15px;

    h2{
      color: wheat;
    }
  }

    #startGame{
        text-decoration: none;
        border: 2px solid #B58D01;
        padding: 4px;
        width: 50%;
        text-align: center;
        background-color: #B58D01;
        cursor: pointer;
        color: white;
      }
      
      #signUp {
        text-decoration: none;
        border: 2px solid white;
        padding: 4px;
        width: 100%;
        text-align: center;
        background-color: white;
        cursor: pointer;
        
      }

      #submit {
        text-decoration: none;
        border: 2px solid white;
        width: 100%;
        text-align: center;
        background-color: white;
        cursor: pointer;
      }
    }
  
    @media (max-width: 768px) {
      .wrapper {
        position: relative;
        background-size: contain; 
        background-position: top center;

        &__details {
          position: absolute;
          top: 10px;
          left: 10px;
          gap:0;
          font-size: 7px;
          margin-bottom: 1px;
        }
      }
    }