@mixin style-textName {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-shadow: white 1px 0 10px;
}

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
  }
  
  .registration {
    background: url(https://t4.ftcdn.net/jpg/05/93/63/61/360_F_593636175_EsgfL5Hierf971xfKe699FrwGA8UHBZx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: #3A261E 1px 0 10px;
    position: relative;
    margin-top: 2%;
    width: 50%;
    height: 85vh;
    border: 2px solid black;

    &__details{
    display: flex;
    flex-direction: column;
    left: 5px;
    position: absolute;
    left: 40%;
    gap: 30px;

    h1{
        margin-top: 20px;
        text-align: center;
        text-shadow: wheat 1px 0 10px;
        font-size: 40px;
    }
    }
}

.details {
    &__userName {
        @include style-textName;
    }

    &__email {
        @include style-textName;
    }

    &__password {
        @include style-textName;
    }

    &__signUp{
        text-align: center;
        border: 2px solid wheat;
        background-color: wheat;
        border-radius: 6px;

        a{
            text-decoration: none;
            color: white;
        }
    }
}