* {
  margin: 0;
  padding: 0;

}





@mixin logInOut {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: 0px solid #4259B4;
  background-color: #4259B4;
  border-radius: 5px;
  font-size: 30px;
  font: italic small-caps bold 16px/2 cursive;
  color: white;
}

.container {
  width: 60vw;
  height: 80vh;
  z-index: -10;
  border: 0px solid black;
  margin: auto;
  overflow: hidden;

  &__header {
    margin-top: 2%;
    width: 100%;
    height: 21%;
    position: relative;
    background-color: #fed034;
    position: relative;

    &__itemsFromStore {
      img {
        position: absolute;
        top: 6%;
        left: 60%;
        width: 6%;
      }

    }

    &__exitLevel {
      position: absolute;
      right: 21%;
      font-size: 25px;
      width: 8%;
      top: 8px;
      border-radius: 12px;
      background-color: #FED034;
      color: #9e6844;
      cursor: pointer;
      box-shadow: #99853f 1px 0 10px;
      border: 1px solid #FED034;
      right: 21%;
      font-size: 25px;
      width: 8%;
      top: 8px;
      border-radius: 12px;
      background-color: #FED034;
      color: #9e6844;
      cursor: pointer;
      box-shadow: #99853f 1px 0 10px;
      border: 1px solid #FED034;
      transition: all 0.3;

      &:hover {
        scale: 1.05;
        text-shadow: 0px 0px 2px #99853f;

      }


    }


    .head__rightSide {
      font-size: 30px;
      gap: 10px;
      position: absolute;

      &__timer,
      &__level {
        display: flex;
      }

      #timerHead,
      #levelHead {
        color: #9e6844;
        text-shadow: 0px 0px 2px #845536ba;

      }

      #timerValue,
      #levelValue {
        color: red;
        text-shadow: 0px 0px 2px #845536ba;

      }
    }

    .head__leftSide {
      font-size: 30px;
      position: absolute;
      gap: 10px;
      right: 0;



      &__score,
      &__target {
        display: flex;

        #targetHead,
        #scoreHead {
          color: #9e6844;
          text-shadow: 0px 0px 2px #845536ba;
        }

        #targetValue {
          color: red;
          text-shadow: 0px 0px 2px #845536ba;

        }

        #scoreValue {
          color: rgb(11, 182, 11);
          text-shadow: 0px 0px 2px #845536ba;

        }
      }
    }

    #addScoreDiv {
      h1 {
        position: absolute;
        display: inline-block;
        z-index: 1000;
        color: rgb(0, 0, 0);
        bottom: 15%;
        left: 60%;
        opacity: 0%;
      }

      .popMoveAnimation {
        animation: fadeInOutAnimation 2s;
      }
    }

    .header {
      position: relative;
      // z-index: -3;

      &__character {
        position: relative;
        width: 20%;
        height: 100%;
        margin: auto;
        background-color: #4259b4;
        border-radius: 125px 125px 0 0;
        box-shadow: 0px 5px 10px 3px #384b97;

        img {
          height: 85%;
          transition: all .4s;
          position: absolute;
          bottom: 0;
          left: 15%;
        }
      }

      &__rope {
        position: absolute;
        top: 90px;
        left: 37%;
        width: 40px;
        z-index: 100;
        height: 0px;
        border: 1px solid rgb(6, 6, 6);
        transform-origin: 0% 0%;
        animation: ropeSideToSide 5s linear infinite;
      }

    }

    .active {
      transition: all 6s;
      animation-play-state: paused;
    }

    .returnRope {
      // transition: all 10s;
      animation-name: gettingUp;
      animation-duration: 4s;
      animation-play-state: paused;
    }

  }

  &__footer {
    position: relative;
    width: 100%;
    height: 80%;
    // background-color: #9e6844;
    background: url("https://st.depositphotos.com/30456762/54970/v/450/depositphotos_549702254-stock-illustration-ground-texture-soil-top-view.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer {
    position: relative;
  }

  .rockElem {
    position: absolute;
    // background: #fed034;
  }
}

.liftTheStone {
  animation: gettingUp 5s linear 1;
}

.active {
  transition: all 3s;
  animation-play-state: paused;
}

#loginStatus {
  @include logInOut;
  top: 0;
}

#logOut {
  @include logInOut;
  top: 33px;
  text-decoration: none;
}

.rockElem {
  position: absolute;

}

@keyframes ropeSideToSide {

  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(170deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

// @keyframes gettingDown {

//   25% {
//     width: 50px;
//     // transform: rotate(95deg)
//   }

//   50% {
//     width: 150px;
//     // transform: rotate(95deg)
//   }

//   75% {
//     width: 200px;
//     // transform: rotate(95deg)
//   }

//   100% {
//     width: 350px;
//     // transform: rotate(95deg)
//   }
// }

@keyframes gettingUp {
  to {
    top: 5px;
    left: 410px;
  }
}


@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    left: 80%;
    bottom: 60%;
    display: none;
    opacity: 0%;
  }
}

.none {
  display: none;
}