* {
  margin: 0;
  padding: 0;
}

.container {
  width: 60vw;
  height: 80vh;
  
  z-index: -1;
  border: 2px solid black;
  background-color: yellow;
  margin: auto;

  &__header {
    width: 100%;
    height: 20%;
    background-color: #fed034;
  }

  &__footer {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #9e6844;
  }
}

.header {
  position: relative;
  &__character {
    position: relative;
    width: 20%;
    height: 100%;
    margin: auto;
    background-color: #283f9c;
    border-radius: 125px 125px 0 0;

    img {
      width: 25%;
      height: 85%;
      position: absolute;
      bottom: 0;
      left: 40%;
    }
  }
  &__rope {
    position: absolute;
    left: 50%;
    width: 40px;
    z-index: 100;
    height: 0px;
    border: 1px solid rgb(6, 6, 6);
    transform-origin: bottom center;
    animation:  ropeSideToSide 7s linear infinite;

  }
}

.footer {
  &__gold {
    img {
      position: absolute;

      &:nth-child(1) {
        top: 50%;
        left: 70%;
      }

      &:nth-child(2) {
        top: 70%;
        left: 40%;
      }

      &:nth-child(3) {
        top: 80%;
        left: 20%;
      }

      &:nth-child(4) {
        top: 20%;
        left: 40%;
      }
    }
  }

  &__stone {
    img {
      position: absolute;

      &:nth-child(1) {
        top: 10%;
        left: 80%;
      }

      &:nth-child(2) {
        top: 65%;
        left: 60%;
      }

      &:nth-child(3) {
        top: 55%;
        left: 20%;
      }
    }
  }
}


@keyframes ropeSideToSide {
  0% {
    transform-origin: top;
    transform: rotate(0);
  }
  50% {
    transform-origin: top;
    transform: rotate(180deg);
  }
  100% {
    transform-origin: top;
    transform: rotate(0);
  }
}