* {
  margin: 0;
  padding: 0;
}

.container {
  width: 60vw;
  height: 80vh;

  z-index: -1;
  border: 2px solid black;
  background-color: yellow;
  margin: auto;

  &__header {
    width: 100%;
    height: 20%;
    position: relative;
    background-color: #fed034;
    position: relative;

    .head__rightSide {
      font-size: 30px;
      gap: 10px;
      position: absolute;

      &__timer,
      &__level {
        display: flex;
      }

      #timerHead,
      #levelHead {
        color: #9e6844;
      }

      #timerValue,
      #levelValue {
        color: red;
      }
    }

    .head__leftSide {
      font-size: 30px;
      position: absolute;
      gap: 10px;
      right: 0;

      &__score,
      &__target {
        display: flex;

        #targetHead,
        #scoreHead {
          color: #9e6844;
        }

        #targetValue {
          color: red;
        }

        #scoreValue {
          color: rgb(11, 182, 11);
        }
      }
    }

    .header {
      position: relative;

      &__character {
        position: relative;
        width: 20%;
        height: 100%;
        margin: auto;
        background-color: #283f9c;
        border-radius: 125px 125px 0 0;

        img {
          width: 25%;
          height: 85%;
          position: absolute;
          bottom: 0;
          left: 40%;
        }
      }

      &__rope {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 40px;
        z-index: 100;
        height: 0px;
        border: 1px solid rgb(6, 6, 6);
        transform-origin: 0% 0%;
        animation: ropeSideToSide 5s linear infinite;

      }

    }

    .active {
      transition: all 6s;
      animation-play-state: paused;
    }
  }

  &__footer {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #9e6844;
  }

  .footer {
    position: relative;
  }

  .rockElem {
    position: absolute;
    // background: #fed034;
  }
}

@keyframes ropeSideToSide {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(170deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes gettingDown {
  to {
    width: 100vh;
  }
}

@keyframes gettingDown {
  to {
    width: 100vh;
  }
}