* {
  margin: 0;
  padding: 0;
}

.container {
  width: 60vw;
  height: 80vh;

  z-index: -1;
  border: 2px solid black;
  margin: auto;

  &__header {
    width: 100%;
    height: 21%;
    position: relative;
    background-color: #fed034;
    position: relative;

    .head__rightSide {
      font-size: 30px;
      gap: 10px;
      position: absolute;

      &__timer,
      &__level {
        display: flex;
      }

      #timerHead,
      #levelHead {
        color: #9e6844;
      }

      #timerValue,
      #levelValue {
        color: red;
      }
    }

    .head__leftSide {
      font-size: 30px;
      position: absolute;
      gap: 10px;
      right: 0;

      &__score,
      &__target {
        display: flex;

        #targetHead,
        #scoreHead {
          color: #9e6844;
        }

        #targetValue {
          color: red;
        }

        #scoreValue {
          color: rgb(11, 182, 11);
        }
      }
    }

    .header {
      position: relative;

      #addScoreDiv{
        position: absolute;
        z-index: 10000;
        color: aqua;
        background-color: #9e6844;
        top: 0;
        left: 0;
      }

      &__character {
        position: relative;
        width: 20%;
        height: 100%;
        margin: auto;
        background-color: #283f9c;
        border-radius: 125px 125px 0 0;

        img {
          width: 25%;
          height: 85%;
          position: absolute;
          bottom: 0;
          left: 40%;
        }
      }

      &__rope {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 40px;
        z-index: 100;
        height: 0px;
        border: 1px solid rgb(6, 6, 6);
        transform-origin: 0% 0%;
        animation: ropeSideToSide 5s linear infinite;
      }

    }

    .active {
      transition: all 6s;
      animation-play-state: paused;
    }
    .returnRope{
      transition: all 10s;
      animation-play-state: paused;
    }

  }

  &__footer {
    position: relative;
    width: 100%;
    height: 80%;
    // background-color: #9e6844;
    background: url("https://st.depositphotos.com/30456762/54970/v/450/depositphotos_549702254-stock-illustration-ground-texture-soil-top-view.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer {
    position: relative;
  }

  .rockElem {
    position: absolute;
    // background: #fed034;
  }
}
.active{
  transition: all 3s;
  animation-play-state: paused;
}

#loginStatus, #logOut {
  cursor: pointer;

}

.rockElem{
  position: absolute;

}

@keyframes ropeSideToSide {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(170deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes gettingDown {
  25% {
    width: 50px;
    transform: rotate(95deg)
  }

  50% {
    width: 150px;
    transform: rotate(95deg)
  }

  75% {
    width: 200px;
    transform: rotate(95deg)
  }

  100% {
    width: 350px;
    transform: rotate(95deg)
  }
}

@keyframes gettingUp {
  to {
    // width: 100vh;
  }
}


@keyframes fadeInOutAnimation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}