<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/dist/homePage.css" />
    <title>homePage</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__details">
        <h2>Sign in to your account</h2>
        <input type="text" placeholder="userName" />
        <input type="password" placeholder="password" />
        <a id="submit" href="./index.html">Log in</a>
        <a id="signUp" href="./signUp.html">you don't have an account? sign up Easily</a>
        <a id="startGame" href="./index.html">Let's play one time</a>
      </div>
    </div>
  </body>
</html>
