<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/dist/homePage.css" />
    <script src="../script/model/dist/playerClass.js" defer></script>
    <script src="../script/main/dist/signUp.js" defer></script>
    <!-- <script src="../view/index.html"></script> -->
    <title>homePage</title>
  </head>
  <body>
    <!-- <form id="loginForm"> -->
    <div class="wrapper">
      <div class="wrapper__details">
        <h2>Log in to your account</h2>
        <input type="text" placeholder="Username or Email" id="loginUsername"/>
        <input type="password" placeholder="password" id="loginPassword"/>
        <button id="loginBtn">Log in</button>
        <!-- <a id="submit" href="./index.html">Log in</a> -->
        <a id="signUp" href="./signUp.html">Don't have an account yet? Create one.</a>
        <a id="startGame" href="./index.html">Let's play one time</a>
      </div>
    </div>
  <!-- </form> -->
  </body>
</html>
