<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/dist/homePage.css" />
    <title>homePage</title>
  </head>
  <body>
    <div class="wrapper">
      <img
        src="https://assets.funnygames.org/3/303/53097/672x448/gold-miner.webp"
        alt="" />
      <h2>Sign in to your account</h2>
      <input type="text" placeholder="userName" />
      <input type="password" placeholder="password" />
      <a id="signUp" href="#">you don't have a account? sign up Easily</a>
      <a id="startGame" href="./index.html">Let's play one time</a>
      <!-- <button>Let's play one time</button> -->
    </div>
  </body>
</html>
