<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/project/image/happy-gold miner.png">

    <link rel="stylesheet" href="../style/dist/HowTo.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <p>Welcome to the thrilling world of Gold Miner! Strap on your boots and grab your trusty pickaxe as you embark on a captivating mining adventure. In this addictive game, you'll delve deep into the earth's crust to uncover glittering treasures and shiny gold nuggets. But beware of the challenges that lie ahead – from rocks that could thwart your progress to strategic decisions that will test your skills. Utilize your keen reflexes and strategic thinking to amass riches and unlock new levels filled with even greater rewards. Are you ready to strike it rich and become the ultimate Gold Miner? Start digging now and let the hunt for gold begin!</p>
    <img src="../image/controls.png" alt="">
</div>
<a href="./homePage.html"><svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
  </svg></a>
  
  
</body>
</html>