<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/dist/style.css">
    <script src="../script/dist/rockClass.js" defer></script>
    <script src="../script/model/dist/playerClass.js" defer></script>
    <script src="../script/model/dist/rockClass.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="container__header">
            <div class="header__character">
                <img src="./image/goldMiner.png" alt="goldMiner">
            </div>
        </div>
        <div class="container__footer">
            <div class="footer__gold">
                <img src="./image/gold.png" alt="goldImg">
                <img src="./image/gold.png" alt="goldImg">
                <img src="./image/gold.png" alt="goldImg">
                <img src="./image/gold.png" alt="goldImg">
            </div>
            <div class="footer__stone">
                <img src="./image/stone.png" alt="stoneImg">
                <img src="./image/stone.png" alt="stoneImg">
                <img src="./image/stone.png" alt="stoneImg">
            </div>
        </div>
    </div>
</body>
</html>