<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/signUp.css">
    <title>Sign up</title>
</head>
<body>
    <div class="registration">
        <div class="registration__details">
            <h1>SIGN UP</h1>
            <div class="details__userName">
                <label for="userName">Username</label>
                <input type="text" name="" id="userName">
            </div>
            <div class="details__email">
                <label for="email">Email</label>
                <input type="email" name="" id="email">
            </div>
            <div class="details__password">
                <label for="password">Password</label>
                <input type="password" name="" id="password">
            </div>
            <a href="./homePage.html">SIGN UP</a>
          
        </div>
      </div>
</body>
</html>