<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/store.css">
    <link rel="icon" type="image/x-icon" href="/project/image/happy-gold miner.png">

    <script src="../script/main/dist/store.js" defer></script>
    <script src="../script/main/dist/end-game.js" defer></script>
    <title>GOLD-MINER expensive game</title>
</head>
<body>
    <div class="storeContainer">
        <div class="storeContainer__nextLevel"><a href="/project/view/index.html"> Next Level</a></div>
        <div class="playersMoney"></div>
        <div class="storeContainer__instruction">
            <h2>Click on the items you want to buy. Click on "Next Level" when you are ready to go on.</h2>
        </div>
        <div class="storeContainer__circle storeContainer__circle--one"></div>
        <div class="storeContainer__circle storeContainer__circle--two"></div>
        <div class="storeContainer__circle storeContainer__circle--three"></div>
        <!-- <div class="storeContainer__dynamite">
            <img src="../image/dynamiteGoldMiner.png" alt="dynamite">
            <p>After you have grabbed onto something with your claw, press the up arrow to throw a piece of dynamite at it and blow it up.</p>
        </div> -->
        <div class="storeContainer__time">
            <img src="../image/moreTime.png" alt="more time">
            <p>Pocket watch. Gives you an extra 10 seconds on the next level.</p>
        </div>
    </div>
</body>
</html>

